<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to home page</h1>
    <h2>Total no. of user in Database: <%=count%></h2> <br><br>
    <h2>Add New User</h2>
    <a href="/user/add">Add New User</a> <br> <br>
    <a href="/user">View Users</a>
</body>
</html>